nav{
    background-color: darkblue;
    padding: 1rem 1rem 0.5rem 1rem;
}

ul.nav{
    list-style-type: none;
    overflow: hidden;
}

li{
    float: left;
}

li.login-item{
    float: right;
}

ul.nav li > a{
    text-decoration: none;
    display: block;
    color: white;
    padding: 0.7rem;
    border-radius: 40%;
}

ul.nav > li > a:hover{
    background-color: cornflowerblue;
    color: white;

}

#search-item{
    border: none;
    width: 60%;
    margin-left: 9%;


}
.search-form{
    border: 1px solid white;
    padding: -0.5%;
    width: 75%;
    background-color: white;
    border-radius: 5px;
    height: 1.7em;


}
#search-box{
    width: 89%;
    font-size: 1.05em;
    border: none;
    background: none;
    height: 1.7rem;


}


#search-button{
    font-size: 1.22em;
    width: 10%;
    background: none;
    border: none;
    height: 1.7rem;
    border-radius: 10px;
}


#search-button:hover{
    background-color: whitesmoke;
}